.pet-card {
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-bottom: 20px;
}

.pet-img {
  width: 80%;
  height: 80%;
  margin: auto;
}

.pet-info-div {
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 20px;
  width: 70%;
}

.adoptButton {
  margin-bottom: 10px;
}

.pet-info-p {
  margin: 5px;
  text-align: left;
}

.pet-name {
  text-decoration: underline;
}

@media all and (min-width: 800px) {
  .pet-card {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-bottom: 20px;
  }

  .img-div {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .pet-img {
    width: 300px;
    height: 300px;
    margin: 30px;
  }


  .pet-info-div {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 20px;
  }

  .adoptButton {
    margin-bottom: 10px;
  }

  .pet-info-p {
    margin: 5px;
    text-align: left;
  }

  .pet-name {
    text-decoration: underline;
  }
}
